MNIST_data
CIFAR10_data
Yelp_Data
random_batch.csv
Yelp_logs/
Models_zoo/
*.pyc
ImageAlignment.py
dp1.jpg
random.jpg
vangogh-1.jpg
Data_zoo/notMNIST/
Data_zoo/FaceDetectionData
*.orig
Data_zoo/Yahoo_Shoe_Data/
Data_zoo/EmotionDetector/
Data_zoo/TU_Graz_Data/
logs/EmotionDetector_logs/
logs/FaceDetection_logs/
logs/MNIST_logs/
*.xml
*/*.xml
Data_zoo/Analogy_data Data_zoo/CIFAR10_data Data_zoo/COCO Data_zoo/Faces_lfw Data_zoo/flowers_data
DBG_Encoder/__init__.py DBG_Encoder/SimpleAutoEncoder2.py DBG_Encoder/SimpleAutoEncoder.py DBG_Encoder/Utils2.py DBG_Encoder/Utils2.pyc DBG_Encoder/Utils.py DBG_Encoder/Utils.pyc
DBG_Encoder
Data_zoo
logs/CelebA_GAN_logs logs/CelebA_GAN_logs_1/* logs/DBG_Encoder_logs/* logs/Flowers_GAN_logs_1/* logs/LFW_GAN_logs/* logs/MNIST_Activation/* logs/mnist_logs/* logs/MNIST_logs/* logs/MNIST_Pruning_logs/* logs/MNIST_VAE_logs
logs/CelebA_GAN_logs logs/*
.idea
.ipynb_checkpoints
*DS_Store
