MNIST_data
CIFAR10_data
Yelp_Data
random_batch.csv
Yelp_logs/
Models_zoo/
*.pyc
ImageAlignment.py
dp1.jpg
random.jpg
vangogh-1.jpg
Data_zoo/notMNIST/
Data_zoo/FaceDetectionData
*.orig
Data_zoo/Yahoo_Shoe_Data/
Data_zoo/EmotionDetector/
Data_zoo/TU_Graz_Data/
logs/EmotionDetector_logs/
logs/FaceDetection_logs/
logs/MNIST_logs/
*.xml
*/*.xml
Data_zoo/Analogy_data Data_zoo/CIFAR10_data Data_zoo/COCO Data_zoo/Faces_lfw Data_zoo/flowers_data
